*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
    list-style: none;
    text-decoration: none; 
}

:root {
    font-size: xx-large;
}

body {
    height: 40vh;
    display:grid;
    grid-template-columns: repeat(11 max-content);
    grid-template-rows: repeat(11 max-content);
    background-color: #e5e5e5;
    justify-content: center;
    
    
}

p {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 4;
    grid-column-end: 8;
    text-align: center;
}
input {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 8;
    text-align: center;  /* doesn't work.... */  
}

output {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 8;
    font-size: small;
    font-weight: bold;
    text-align: center;
}
/* #container::before {    Doesn't fix it :( 
    display:flex;
    display:inline-block;
} */

div {
    display:flex;
    display:inline-block;
    grid-row-start: 4;
    grid-column-start: 4;
    grid-column-end: 8;
    /* Design */
    border: 1px solid transparent;
    box-shadow: 1px 1px 5px black;
    border-radius: 15px;     
    text-align: center;   
    margin: 5px; 
}

/* Styling sliders */

input[type="range"] {
    -wekbit-appearance: none; /* Clears out default styles */
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 20rem;
}

input[type="range"]::-webkit-slider-runnable-track { /* Chromium browsers */
    background-image: linear-gradient(to right, #631C48, #9F265C, #CF2967, #F15B67, #FDB25F, #FED883);    /* Only 3 properties to design the track */
    height: 0.35rem;
    border-radius: 25px;
}

input[type="range"]::-moz-range-track {
    background: #053a5f;
    height: 0.35rem;
    border-radius: 25px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 0.85rem;
    width: .5rem;
    margin-top: -7px; /* Track height/2 - thumb height/2 doesn't work lol*/ 
    background-color: #7232f2 ;     /*#ec781f; #7232f2 */
    border-radius: 24px;
}

input[type="range"]::-moz-range-thumb {
    border: none;
    border-radius: 0; /* default already has rounded border */
    height: 1rem;
    width: .5rem;
    background-color: #7232f2;
}

input[type="range"]:focus { /* Adds accessibility by adding visual input when accessed. Will do more research */
    outline: none;
}

input[type="range"]:focus::-webkit-slider-thumb {
    border: 1px solid #20115b;
    outline: 3px solid #20115b;
    outline-offset: 0.08rem;
}

input[type="range"]:focus::-moz-range-thumb {
    border: 1px solid #20115b;
    outline:3px solid #20115b;
    outline-offset: 0.125rem;
}